<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gael.mestrefles">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".AccueilActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <!-- Enlever les commentaires sur cette ligne pour tester Accueil Activity-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".MenuPrincipal"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <!-- Enlever les commentaires sur cette ligne pour faire marcher l'application

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity android:name=".TransactionActivity"
            android:label="@string/titreTransaction"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".SoldeActivity"
            android:label="@string/titreSolde"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".ParametresActivity"
            android:label="@string/titreParametres"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".DepenseActivity"
            android:label="@string/titreDepenses"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <receiver android:name=".SmsBroadcastReceiver" android:exported="true" >
            <intent-filter android:priority="999" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

    </application>

    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

</manifest>